<!DOCTYPE html>
<html>
  <head>
    <title>Peek app</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div id='move'>
 <div id='cercle'><img src="img/capture.gif" /></div>
 <div id='Bienvenue'>
   <h1>Thee peek App!</h1>
    <h3><a href="/signup" class="btn btn-default">Signup</a></h3>
    <h3><a href="/login" class="btn btn-default">Login</a>
  </div>
 </div>
  </body>
</html>
<!-- ======= -->
