<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your library</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/csst.css">
  </head>
  <body>
<h2>Your Library</h2>
<div class="ancors">

<a href="/">home</a>
<a href="/profile">Main page</a>
</div>

<% for(let i=0; i<articles.length; i++) {%>
  <div id="searchElement">
  <img src='<%= articles[i].imgSource %>'>
  <a href="<%= articles[i].ancorButton %>"><%= articles[i].ancorButton %></a>
</div>

<%}%>

</body>
<script src="secondarymain.js"></script>


</html>
