*{
  box-sizing:border-box;
}
body {
  padding-top: 80px;
  background-image: url('/img/ty8.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}




img{
  width:100%;
  height:162px;
  float:left;
}

#searchElement{
/*   border:2px solid blue; */
  height:208px;
  width:23%;
  float:left;
  margin:23px;
  background-color:#ffffffbd;
  box-shadow:5px 10px 8px #00000087;
}
a {
  color:black;
  width:100%;
}
